/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 /* @import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap&subset=cyrillic'); */

 @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap&subset=cyrillic');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: Merriweather;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Переношу кнопку меню, которая появляется на узких экранах, из левого в правый
 * угол, чтобы было удобно нажимать пальцем правой руки на смартфоне. */
.navbar__toggle {
  order: 100;
  margin-left: auto;
}

/* Переношу панель меню, которая появляется на узких экранах, с левого края на
 * правый, туда, где теперь кнопка вызова меню. */
.navbar-sidebar {
  left: unset;
  right: 0;
  transform: translate3d(100%, 0, 0);
}

.sd-row__question {
  white-space: normal;
}

/* Стиль для кнопок, содран с bootstrap */
.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: .25rem;
  padding: .375em .75em;
  transition: background-color .5s;
}

@media (max-width: 600px) {
  .btn  {
    width: 100%;
}

}

.btn-primary {
  color: #fff;
  background-color: var(--ifm-color-primary);
  border-color: var(--ifm-color-primary);
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--ifm-color-primary-darker);
  border-color: var(--ifm-color-primary-dark);
}

/* Оформление журнальной врезки */
.insert {
  background-color: #e6e6e6;
  padding: 5%;
  margin-bottom: var(--ifm-paragraph-margin-bottom);
}

.insert p:last-child {
  margin-bottom: 0;
}